body{
    background-color: rgb(220,220,220);
    font-size: 20px;
    }
    
    header{
      text-align: center;
    }
    label{
      display: block;
      line-height: 3;
    }
   
    fieldset{
      width: 60vw;
      margin: auto;
  background-color: rgb(169,169,169);
    border-radius: 20px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    }
    #name, #email, #number,#dropdown, select{
      display: block;
      border-radius: 10px;
      height: 10vh;
      width: 100%
    }
    #checkbox{
    display: block;  
    }
  #comment, button{
    display: block;
    width: 100%;
  
  }
  button{
    height: 7vh;
    margin-top: 2vh;
    background-color: orange
  }